---
layout: default
title: Blog of Saurabh
---

{% for post in site.posts %}
<div class="sg-35 box">
	<div class="sg-30 title">
		<a href="{{ post.url }}">{{ post.title }}</a>
	</div>
	<div class="sg-3 date">
		{{ post.date | date: "%b %Y" }}
	</div>
</div>
{% endfor %}


<ul id="posts" class="twelve columns offset-by-four">
  {% for post in site.posts %}
    <li>
      <a class="nine columns" href="{{ post.url }}">{{ post.title }}</a>
      <span class="two columns">{{ post.date | date: "%b %Y" }}</span>
    </li>
  {% endfor %}
</ul>

<ul id="posts">
  {% for post in site.posts %}
    <li>
      {{ post.title }} {{ post.date | date: "%b %Y" }}
    </li>
  {% endfor %}
</ul>