@font-face {
	font-family: Bariol;
	src: url("../font/Bariol.otf") format('opentype');
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	font-family: 'Ruthie', cursive;
	font-size: 36px;
	padding-top: 10px;
	margin-bottom: 0 !important;
	text-align: center;
}

#tagline {
	font-family: 'Brawler', sans-serif;
	font-size: 9px;
}

.sidebar {
	background: #E8E8E8;

	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.content {
	border: 1px solid grey;
}

.box {
	background: #E8E8E8;
	margin: 10px 0px 10px 0px !important;
	padding: 20px 0px 20px 0px !important;
}

.word-box {
	background: #E8E8E8;
	margin: 0px 0px 0px 0px !important;
	padding: 20px 0px 20px 0px !important;
}

.title {
	font-size: 40px;
}

.words {
	font-family: 'Bariol', sans-serif;
	background: white;
	padding: 20px 30px 20px 30px !important;
	
	font-size: 1.6em;
	line-height: 1.6em;
	text-align: justify;
}

.date {
	font-size: 16px;
	text-align: right;
}
	
.footer {
	background-color: purple;
}