@font-face {
	font-family: Bariol;
	src: url('Bariol') format('opentype');
}

@font-face {
    font-family: 'RosarioRegular';
    src: url('Rosario-Regular-webfont.eot');
    src: url('Rosario-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Rosario-Regular-webfont.woff') format('woff'),
         url('Rosario-Regular-webfont.ttf') format('truetype'),
         url('Rosario-Regular-webfont.svg#RosarioRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RosarioItalic';
    src: url('Rosario-Italic-webfont.eot');
    src: url('Rosario-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Rosario-Italic-webfont.woff') format('woff'),
         url('Rosario-Italic-webfont.ttf') format('truetype'),
         url('Rosario-Italic-webfont.svg#RosarioItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RosarioBold';
    src: url('Rosario-Bold-webfont.eot');
    src: url('Rosario-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Rosario-Bold-webfont.woff') format('woff'),
         url('Rosario-Bold-webfont.ttf') format('truetype'),
         url('Rosario-Bold-webfont.svg#RosarioBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RosarioBoldItalic';
    src: url('Rosario-BoldItalic-webfont.eot');
    src: url('Rosario-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Rosario-BoldItalic-webfont.woff') format('woff'),
         url('Rosario-BoldItalic-webfont.ttf') format('truetype'),
         url('Rosario-BoldItalic-webfont.svg#RosarioBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	color: #333333 !important;
}
.desc {
	font-family: 'Crimson Text', serif;
	font-size: 1.6em !important;
	text-align: justify;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	font-family: 'Ruthie', cursive;
	font-size: 36px;
	padding-top: 10px;
	margin-bottom: 0 !important;
	text-align: center;
}

#tagline {
	font-family: 'Brawler', sans-serif;
	font-size: 9px;
}

.sidebar {
	background: #E8E8E8;

	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.content {
	border: 1px solid grey;
}

.box {
	background: #E8E8E8;
	margin: 10px 0px 10px 0px !important;
	padding: 20px 0px 0px 0px !important;
}

.word-box {
	background: #E8E8E8;
	margin: 0px 0px 0px 0px !important;
	padding: 20px 0px 20px 0px !important;
}

.title {
	font-family: 'RosarioRegular', sans-serif;
	font-size: 3em;
}

.date {
	font-family: 'RosarioRegular', sans-serif;
	font-size: 1.5em;
}

.words {
	font-family: 'RosarioRegular', sans-serif;
	background: white;
	padding: 2em 5em 2em 5em !important;
	
	font-size: 2em;
	line-height: 1.5em;
	text-align: justify;
}

p {
	margin-bottom: 1em !important;
}

.date {
	font-size: 16px;
	text-align: right;
}