<!DOCTYPE html>
<html>
  <head>
    <title> {{page.title}} </title>
		
		<!-- CSS -->
		<link href='http://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet' type='text/css'>
		<link href='../static/css/style.css' rel='stylesheet' type='text/css'>
		<link href='../static/css/squaregrid.css' rel='stylesheet' type='text/css'>
		
  </head>
  
	<body>
  <div id="containter">
	<div class="sg-10 sidebar">Sidebar</div>
	<div class="sg-35 content">Content</div>
	<div class="clear"></div>
	
	
	<div class="sg-10 sidebar">
		<div class="sg-9 logo">Space for Logo</div>
		<div class="clear"></div>
		<div class="sg-9 logo">Space for Logo</div>
	</div>
	<div class="sg-35 content">Content</div>
	<pre>
			<!-- CSS -->
		<link href='http://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet' type='text/css'>
		<link href='../static/css/style.css' rel='stylesheet' type='text/css'>
		<link href='../static/css/squaregrid.css' rel='stylesheet' type='text/css'>
		
  </head>
  
	<body>
  <div id="containter">
	<div class="sg-10 sidebar">Sidebar</div>
	<div class="sg-35 content">Content</div>
	<div class="clear"></div>
	
	
	<div class="sg-10 sidebar">
		<div class="sg-9 logo">Space for Logo</div>
		<div class="clear"></div>
		<div class="sg-9 logo">Space for Logo</div>
	
	</pre>
	<div class="clear"></div>
	
	</div>
	</body>

	
</html>
