<!DOCTYPE html>
<html>
  <head>
    <title> {{page.title}} </title>
		
		<!-- CSS -->
		<link href='http://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet' type='text/css'>
		<link href='../static/css/style.css' rel='stylesheet' type='text/css'>
		
  </head>
  <body>
		<div class="myName">
		Saurabh Mandaokar
					{{content}}
		</div>
		<div class="desc">
    Writing thoughts here. You can contact me <a href="http://www.twitter.com/enitiz/">@entiz</a>.
		<br><br>
		I come from a small town in India. Life hasn't satisfied me yet. I want to meet new people, visit different landmarks, make new stuff and see things from different perspective.
		<br><br>
		On this saturday, I'm not exactly sure why I'm making a blog here. I can write all but significant things, as they are yet to be discovered.
		<br><br>
		Pardon my english, but maybe I just want to reach to you guys?
		</div>
		<div class="content">

		</div>
  </body>
</html>
