<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" media="all" href="../requires/css/style.css">
        <link rel="stylesheet" type="text/css" media="all" href="../requires/css/fonts.css">
        <!--[if lt IE 9]>
            <script src="../requires/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="container">
        
            <nav>
                <div id="nav_title">Life Stories</div>
            </nav>
            
            <header>
                The List
            </header>
            
            <div id="content">
                {{ content }}
            </div>    
            
            <footer>
                <div class="center">@ <a href="http://twitter.com/enitiz">Saurabh Mandaokar</a> 2013</div>
            </footer>
        </div>
    </body>
</html>