<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>
        <link rel="stylesheet" type="text/css" media="all" href="../../../requires/css/style.css">
        <link rel="stylesheet" type="text/css" media="all" href="../../../requires/css/fonts.css">
    </head>
    <body>
        <div id="container">
            <nav>
                <ul>
                    <li class="nav_to left"><a href="{{page.previous.url}}">&laquo;</a></li>
                    <li><span id="nav_title"><a href="../../../index.html">Life Stories</a></span></li>
                    <li class="nav_to right"><a href="{{page.next.url}}">&raquo;</a></li>
                </ul>
            </nav>
            
            <header>
                {{ page.title }} 
            </header>
            
            <div id="content">
                {{ content }}
            </div>    
            
            <footer>
                <div class="center">&copy; <a href="#">Saurabh Mandaokar</a> 2013</div>
            </footer>
        </div>
    </body>
</html>