body {
    background-color:black;
    margin: 0px;
}

#container {
    width: 480px;
    margin: auto;
}

nav {
    background-image:url("../img/bg/dark/stressed_linen.png");
/*    border-style: dashed;
    border-color: purple;
    border-width: 1px;

    width: inherit;
    z-index: 4;*/
}

#nav_title {
    font-family: Arvil, sans-serif;
    font-size: 80px;
    color: purple;
    text-shadow: 1px 1px 1px #fff; 
    word-spacing: 5px;
    margin-top: -8px;
    margin-bottom: -4px;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-top: -8px;
    margin-bottom: -4px;
    padding: 0;
    text-align:center;
}

nav li {
    display: inline;
}

.nav_to {
    font-family: Arvil, sans;
    font-size: 70px;
    color: purple;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 2px;
    vertical-align: top;
}

.nav_dis {
    font-family: Arvil, sans;
    font-size: 70px;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 2px;
    vertical-align: top;
}

header {
    background-image:url("../img/bg/dark/stressed_linen.png");
    font-family: Arvil, sans;
    font-size: 50px;
    color: purple;
    text-shadow: 1px 1px 1px rgb(121,0,0);
    text-align: center;
/*    border-style: dashed;
    border-color: purple;
    border-width: 1px;
    border-top: none;
    position:fixed;
    width: inherit;
    margin-top: 75px;
    z-index: 4;*/
}

.post_title {
    font-family: Arvil, sans;
    font-size: 50px;
    color: purple;
    text-shadow: 1px 1px 1px rgb(121,0,0);
}

.post_date {
    font-size: 13px;
    color: purple;
    float: right;
    text-shadow: 1px 1px 1px rgb(168,151,168);
}

#content {
    font-family: Meta, sans-serif;
    color: #c3c3c3;
    background-image:url("../img/bg/dark/stressed_linen.png");
    padding: 1px 50px 10px 50px;
/*    position: absolute;

    width: 380px;
    z-index: 0;
    border-style: dashed;
    border-color: purple;
    border-width: 1px;
    border-top: none;*/
}

p {
    line-height: 25px;  
    word-spacing: 1px;
}

p + p {
    margin-top: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}


footer {
    background-image:url("../img/bg/dark/stressed_linen.png");
/*    border-style: dashed;
    border-color: purple;
    border-width: 1px;*/
    font-family: Meta, sans-serif;
    color: purple;
    font-size: 9px;
/*    position:fixed;
    width: 480px;
    bottom: 0px;*/
}



.center {
    text-align: center;
}

.left{
    float:left;
}

.right {
    float: right;
}